body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    scroll-behavior: smooth;
}


h1 {
    margin-bottom: 40px;
    font-size: 32px;
}


.red-box {
    width: 800px;
    height: 2000px;
    background-color: rgb(136, 102, 102);
    margin: 0 auto 20px auto;
}


p {
    font-size: 20px;
    margin-bottom: 80px;
}


.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #007bff;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    display: grid;
    place-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0.8;
    transition: all 0.3s ease;
}


.back-to-top:hover {
    background-color: #0056b3;
    transform: translateY(-4px);
    opacity: 1;
}